{% extends "base.html" %}
{% block title %} End {% endblock %}
{% block content %}

<div class="container">
  
  <div class="starter-template">
    <div id="page-banner"> 
       <p class="lead"> 
	 <h1> Step Six: Post successfully made! </h1> 
       </p> 
    </div>
    <p><button class="btn btn-default btn-lrg" onClick="window.location='/service' ">New Post</button></p>
    <fb:login-button autologoutlink="true" scope="manage_pages,user_groups, publish_stream, publish_actions" size="medium" onlogin="require('./log').info('onlogin callback')">
      Login to Facebook
    </fb:login-button>
    <div id="fb-root"></div>
  </div>
  
</div>


<script>
  window.fbAsyncInit = function() {
  FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
  xfbml: true});
  
  FB.Event.subscribe('auth.logout', function(response) {
  window.location = "/logout"; 
  });
  
  };

  (function() {
  var e = document.createElement('script');
  e.type = 'text/javascript';
  e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
  e.async = true;
  document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endblock %}
